<div class="col-xs-10 col-xs-offset-1 about">
<h1> About Joe </h1>

<p>
	Splurty was built by <a href="https://github.com/josephferrairo">Joe </a>, a young man who wanted to spread the memorable quotes of Michael BLuth and the rest of the characters on Arrested Development. </p>

<br />
<p>
	Arrested Development isn't loved by all but it should be.
</p>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'joe.jpg', :class => 'img-responsive'  %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="textcenter">Joe Ferrairo</h2>
	<br />
	<p>
		Joe Ferrairo works in Manufacturing and recently started the Firehose project so he could become a full stack web developer.
	</p>
	<div class="col-xs-12 col-sm-4" style="padding-top:30px;">
	<%= image_tag 'arrested.jpg', :class => 'img-responsive' %>
	</div>

</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
